<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">Welcome to Educational Gallery</div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>

        <li class="services">
          <a href="/">Curriculam</a>

          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="/">Dropdown 1 </a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 3</a></li>
            <li><a href="/">Dropdown 4</a></li>
          </ul>

        </li>
        <li class="services">
        <a href="/">Medical</a>
        <ul class="dropdown">
            <li><a href="/">Grenral Medicine </a></li>
            <li><a href="/">Nursing</a></li>
            <li><a href="/">Medical lab Technology</a></li>
            <li><a href="/">Radiography</a></li>
            <li><a href="/">Ayurvedic Science</a></li>
          </ul>
        </li>
          <li class="services">
          <a href="/">Diploma</a>
        <ul class="dropdown">
            <li><a href="/">D-computer</a></li>
            <li><a href="/">D-Electrical</a></li>
            <li><a href="/">D-Electrical & Electronics</a></li>
            <li><a href="/">Civil</a></li>
            <li><a href="/">D-Geometric</a></li>
          </ul>
        </li>

          <li class="services">
          <a href="/">Bachlore</a>
          <ul class="dropdown">
            <li><a href="/">B.Sc in computer Science</a></li>
            <li><a href="/">BIT</a></li>
            <li><a href="/"> B.E in Computer Engineering</a></li>
            <li><a href="/">Civil Engineering</a></li>
            <li><a href="/">Bachelor of Technology Artificial Intelligence</a></li>
            <li><a href="/"> Computer Science and Engineering</a></li>
          </ul>
        </li>

          <li><a href="/">Contact</a></li>
      </div>
    </ul>
  </nav>