<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-12 m-10px-tb">
                <article class="article">
                    <div class="article-img">
                        <img src="../../assets/book1.jpg" title="" alt="image">
                    </div>
                    <div class="article-title">
                        <h6><a href="#">Lifestyle</a></h6>
                        <h2>They Now Bade Farewell To The Kind But Unseen People</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="../../assets/2.jpg" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>Sat Narayan Sah </label>
                                <span>7 OCT 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>Education is not just a path to knowledge; it is a journey that shapes our destiny, fuels our aspirations, and propels us towards a brighter future. It's a privilege that has the potential to transform lives, ignite passions, and empower individuals to reach for the stars. In this motivational speech, we will explore the profound impact of education, the essence of relentless pursuit, and the transformative journey of self-discovery through learning</p>
                        <h2>Education:</h2> <h4>Your key to unloking infinite posibilities</h4>
                        
                        <p>Dear learners, today I stand before you to remind you of the remarkable gift you possess – the gift of education. With each book you read, each lesson you learn, and each challenge you overcome, you're sculpting a masterpiece called 'your life.' Education is not confined to classrooms; it's a lifelong adventure where every moment is a chance to gain new insights, broaden your horizons, and evolve into the best version of yourself.</p>
                        <h2>Fueling Your Ambitions:</h2><h4> "The Role of Education in Pursuing Your Dreams"</h4>
                        <p>Imagine education as the fertile soil in which your dreams take root and blossom. Your ambitions are not mere fantasies; they are seeds of potential waiting to be nurtured. Education provides you with the tools, the knowledge, and the confidence to chase those dreams relentlessly. Remember, every step you take in your academic journey is a stride towards turning aspirations into reality.</p>

                        <h2>Breaking Barriers:</h2><h4>Overcoming the Fear of Failure Through Education</h4>
                        <p>Fear of failure can be a daunting adversary, but education is your ally in this battle. Every lesson you master, every concept you grasp, is a step towards conquering that fear. Remember, failure is not the end; it's a stepping stone towards success. Embrace failure as a teacher, not an obstacle.</p>

                        <blockquote>
                            <p>If you FAIL, never give up because F.A.I.L. means "First Attempt in Learning". END is not the end; in fact E.N.D. means "Effort Never Dies". If you get NO as an answer, remember N.O. means "Next Opportunity".</p>
                            <p class="blockquote-footer">By <cite title="Source Title">APJ ANDUL KALAM</cite></p>
                        </blockquote>
                        
                    </div>
                    <div class="nav tag-cloud">
                        <a href="#">Curriculam</a>
                        <a href="#">Question Bank</a>
                        <a href="#">Note</a>
                        <a href="#">Bachlore</a>
                        <a href="#">Diploma</a>
                        <a href="#">Bachlore</a>
                        <a href="#">Medical</a>
                    </div>
                </article>
                
            
                </div>
                <!-- End widget Tags -->
            </div>
        </div>
    </div>
<div>
    <div class="container">
        <div class="article">
        <div class="article-content">
            <H1> FAQs</H1>
            <h3>1. How can I stay motivated during challenging academic times?</h3>
            <p>Stay connected with your passions and remind yourself of your goals. Seek support from peers and mentors.</p>
            <h3>2. Is failure truly a stepping stone to success?</h3>
            <p>Absolutely. Failure provides valuable lessons and experiences that contribute to your growth.</p>
            <h3> 3. How do I balance learning with other responsibilities?</h3>
            <p> Prioritize and create a structured schedule. Remember, balance is key to maintaining your well-being.</p>
            <h3> 4. What if I'm unsure about my chosen educational path</h3>
            <p> Exploration is part of the journey. Keep an open mind, try new things, and trust that you'll find your way.</p>
            <h3> How can I inspire others through my educational journey?</h3>
            <p>Share your experiences, challenges, and triumphs. Your authenticity and determination will inspire others to follow their dreams.</p>
            <blockquote>
                <p>Remember, education is not a destination; it's an ever-evolving expedition that shapes your destiny. As you tread this path, know that every step you take is a testament to your potential, a tribute to your dreams, and a legacy of inspiration for generations to come.</p>
                <p class="blockquote-footer">By <cite title="Source Title">Satyam Sah</cite></p>
            </blockquote>
        </div>
    </div>
    </div>
</div>
<div class="container db-social">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-15">
                <div class="widget head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                <ul>
                                    <li class="fab fa-linkedin-in"><a href="#"></a>
                                    </li>
                                    <li class="fab fa-facebook-f"><a href="#"></a>
                                    </li>
                                    
                                        
                                    
                                </ul>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                <div class="image-default">
                                    <img class="rounded-circle" src="../../assets/2.jpg" alt="...">
                                </div>
                                <div class="infos">
                                    <h2>Sat Narayan Sah</h2>
                                    <div class="location">Developer </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                <div class="follow">
                                    <!-- <a class="btn btn-shadow" href="#"><i class="la la-user-plus"></i>Add Friend</a> -->
                                    <div class="actions dark">
                                        <li class="fab fa-github"><a href="#"></a></li>
                                    <li class="fab fa-youtube"><a href="#"></a></li>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-form article-comment">
                    <h4>Leave a Reply</h4>
                    <form id="contact-form" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn theme"><span>Submit</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            